.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.body{
    background-color: blue;
}

#logout-form {
    display: inline;
}
#logout-form button{
    padding: 0;
    margin: 0;
}